<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Gaurav</mat-card-title>
    <mat-card-subtitle>gauravssnl</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
     I am just a newbie who likes to learn new things. You can contact me on following webistes.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button href="https://twitter.com/gauravssnl">Twitter</button>
    <button mat-button href="https://github.com/gauravssnl">Github</button>
  </mat-card-actions>
</mat-card>