<div class="container-fluid" *ngIf="homeFlag">
  <div class="row">
      <div  class="title col col-md-offset-3" style="text-align:center; margin-top: 0%"> 
        <h2>
            This is my blog homepage
        </h2>
      </div>
  </div>

  <div class="row">
      <div style="text-align:center; color: chartreuse; margin-top: 20px" class="col col-md-offset-3"> 
        <h3>
            Click on About to know more.
        </h3>
      </div>

  </div>  
  
  <div class="row ">
      <div style="text-align:center; color: deeppink; margin-top: 20px;" class="col col-md-offset-3"> 
        <h3>
            Click on Contact to contact me.
        </h3>
      </div>

  </div> 

</div>